body{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #efb6d1;
}


h4{
    text-align: center;
}

#gameContainer{
    
    width: 100vw;
    margin: 0;
    /* float: left; */
    padding-left: 10px;
    padding-right: 10px;
}

#startContainer{
    text-align: center;
    position: relative;
}

.fruit{
    
}

@keyframes fruitFallAnimation { 
    0%  {top: 0vh;}
    /* 50% {top: 10vh;} */
    100% {top: 60vh; }
}
/* @keyframes bounce {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 200px, 0); }
} */

#fruit1{
    background-image:url('./images/Grapefruit-Background-PNG.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
     
}

#fruit2{
    background-image: url('./images/Blackberry-Fruit-PNG-Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 200px;
    position: absolute;
    margin-left: 200px;
}

#fruit3{
    background-image: url('./images/Apple-Fruit-Download-PNG.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 400px;
}

#fruit4{
    background-image: url('./images/Pineapple-Free-PNG-Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 600px;
}

#fruit5{
    background-image: url('./images/Strawberry-PNG-File.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    margin-left: 800px;
}



#basket{
    width: 150px;
    height: 120px;
    /* background: #2010cdcc; */
    /* border-radius: 10px; */
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: 40%; */
    position: absolute;
    background-image: url('./images/basket.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 2px solid #333; */
}