body{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gameContainer{
    background: #efb6d1;
    width: 100vw;
    height: 100vh;
    margin: 0;
    float: left;
}

.fruit{
    
}

#fruit1{
    background-image:url('./images/grapefruit-vector-png.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    height: 200px;
    position: absolute; 
       
}

#fruit2{
    background-image: url('./images/mango-vector-png.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    margin-left: 200px;
}

#fruit3{
    background-image: url('./images/pineapple-vector-jpg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    margin-left: 400px;
}

#fruit4{
    background-image: url('./images/strawberry-fruits-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    margin-left: 600px;
}

#fruit5{
    background-image: url('./images/apple.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100px;
    height: 200px;
    position: absolute;
    margin-left: 800px;
}


h1{
    text-align: center;
    font-size:  50px;
}

#basket{
    width: 150px;
    height: 120px;
    /* background: #2010cdcc; */
    /* border-radius: 10px; */
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: 40%; */
    position: absolute;
    background-image: url('./images/basket.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 2px solid #333; */
}